<%- include('../partials/head') %>
<%- include('../partials/update-topics-modal') %>


  <section class="hero is-fullheight is-default is-bold">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="../">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <div class="tabs is-right">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li class="is-active"><a href="/profile" class="navbar-item">
                      <%= user.email %>
                    </a></li>
                  <li><a href="sessionLogout">Sign Out</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <div class="columns">
        <div class="center-screen">
          <div class="tile is-8 is-parent" id="center">
            <div class="tile is-child pink post">
              <p class="title is-2 name">Hello, <%= user.username %>!</p>
              <hr class="hr" />
              <div class="content has-text-grey description">
                <p>
                  Use this page to keep track of the number of rants you've thrown into the void.
                  In case you forget your email, that is here too. Feeling better?
                  Keep adding your thoughts - the void is always open.
                </p>
                <p id="profileNumPost" class="<%= user.numPosts %>">
                  You currently have <%= user.numPosts %> posts in your Void.
                </p>
                <input type="hidden" name="" id="profileEmail" value="<%= user.email %>">
                <input type="hidden" name="" id="profileTopics" value="<%= user.topics %>">
                <input type="hidden" name="" id="profileUserName" value="<%= user.username %>">
                <input type="hidden" name="" id="profilePost" value="<%= user.numPosts %>">
                <p>
                  Email:
                  <b>
                    <%= user.email %>
                  </b>
                </p>
                <p>
                  <b>
                    Topics you like talking about the most: <%= user.topics %>
                  </b>
                </p>
                <button class="button is-primary" id="updateTopicButton">Add Topics</button>
              </div>
            </div>
          </div>
        </div>
        <%- include('../partials/footer') %>